:root {
  --size: 18rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing:border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

pre {
  font-family: Fira Mono, monospace;
}

#root, #__next {
  isolation: isolate;
}

#app {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrap {
  display: flex;
  border: 1px solid black;
}

.wrap-hidden {
  display: none;
}

.wrap:before {
  transform-origin: top left;
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  display: block;
  letter-spacing: 2px;
  text-align: center;
  height: 1.5rem;
}

#primary-view-wrap {
  height: calc(var(--size) + 2px);
}

#primary-view-wrap:before {
  background-color: #7d9d77;
  content: "input";
  width: var(--size);
  transform: rotate(-90deg) translate(calc(0px - var(--size)));
}

#incremental-view-wrap {
  height: calc(6rem + 2px);
}

#incremental-view-wrap:before {
  background-color: #7d9d77;
  content: "input";
  width: 6rem;
  transform: rotate(-90deg) translate(-6rem);
}

#twelf-response-wrap {
  height: calc(var(--size) + 2px);
}

#twelf-response-wrap:before {
  background-color: #294523;
  content: "output";
  width: var(--size);
  transform: rotate(-90deg) translate(calc(0px - var(--size)));
}

#twelf-response {
  padding-left: calc(1.5rem + 5px);
}

textarea {
  font-family: monospace;
  padding-left: calc(1.5rem + 5px);
  width: 100%;
  resize: none;
  border: none;
}

button {
  display: inline-block;
}

label {
  padding-left: .5rem;
}

.loader {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 1em;
  height: 1em;
  border: 3px solid #7d9d77;
  border-bottom-color: #294523;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}
